# Firebase Realtime Database Configuration
# Format: https://<your-project-id>-default-rtdb.<region>.firebasedatabase.app
FIREBASE_URL=https://kimtv-admin-default-rtdb.asia-southeast1.firebasedatabase.app

# Firebase Database Secret (Legacy token) or leave empty if rules are open
FIREBASE_SECRET=

# Password untuk login ke Admin Panel KIMTV
ADMIN_PASSWORD=admin123
